.dark-theme {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-theme .form-control {
    background-color: #333333;
    color: #ffffff;
  }
  
  .dark-theme .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  